.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  --pink-one: #f4d2c6;
  --pink-two: #fdd3d8;
  --light-blue: #cbe4f4;
  --light-blue-two: #dbe9f1;
  --med-blue-one: #bbd1df;
  --med-blue-two: #93acc9;
  --dark-blue: #6e8aaa;
  --red-brown: #523237;
  background: linear-gradient(var(--dark-blue), var(--med-blue-two), var(--med-blue-one), var(--light-blue-two), var(--light-blue));
}

code {
  font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,  
    monospace;
  background: var(--light-blue-two);
  padding: 2px;
}

strong {
  color: var(--red-brown);
}

a:hover {
  color: var(--med-blue-two);
}

/* 
Color options
--dark-blue: #0a3f5e
--red-brown: #6b4c41 
*/
